/* app/globals.css */
@import 'tailwindcss';

@font-face {
	font-family: 'Inter Variable';
	src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

:root {
	--background: #1d1d20;
	--foreground: #f8f8f8;
	--container: #27282b;
	--gradient-start: #00ffaa; /* Teal-green */
	--gradient-end: #00aaff; /* Blue */
}

body {
	background: linear-gradient(
				to bottom right,
				var(--gradient-start) 0%,
				transparent 50%
			)
			no-repeat,
		linear-gradient(to top left, var(--gradient-end) 0%, transparent 50%)
			no-repeat,
		var(--container);

	background-size: 300px 300px, 300px 300px;
	background-position: top left, bottom right;
	color: var(--foreground);
	font-family: 'Inter Variable', sans-serif;
	font-weight: 200; /* ExtraLight weight */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.border-gradient-to-br {
	border-image: linear-gradient(
			to bottom right,
			var(--gradient-start),
			var(--gradient-end)
		)
		1;
}

.scroll-hidden {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.scroll-hidden::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}
